<h1>Browse Books</h1>

<% form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @books.results.work.each do |book| %>
	<%= puts "Book id: #{book.id}" %>
	<%= puts "Book title: #{book.best_book.title}" %>
	<%= puts "Book author: #{book.best_book.author.name}" %>
	<%= puts "Book rating: #{book.average_rating}" %>
	<%= puts "Book publication: #{book.original_publication_year}" %>
	<img src="<%= book.best_book.image_url %>" />
<% end -%>
