<h1>Browse Books</h1>

<%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @books.results.work.each do |book| %>
  <p>
    <img src="<%= book.best_book.image_url %>" />
    <% "id: #{book.id}" %>
    <%= book.best_book.title %>
    <%= "by: #{book.best_book.author.name}" %>
    <%= "rating: #{book.average_rating}" %>
    <%= "publication: #{book.original_publication_year}" %>
  </p>
<% end %>
