<h1>New Book Club</h1>
<%= form_for :bookclub, url: newbookclub_path  do |f| %>
  <% if params[:user] %><input type="hidden" id="bookclub_user_id" name="bookclub[user_id]" value="<%= params[:user] %>" /><% end %>
 
<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p><%= f.submit "Create", class: "btn btn-primary" %></p>
<% end %>
