<footer class="footer">
  <small>
    Copyright <span class="glyphicon glyphicon-copyright-mark"></span>  <%= Time.new.year %> BookWorm Team

  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <% if logged_in? %>
        <li><%= link_to "Logout ", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
